.study-section {
    z-index: 20;
    margin-top: 5px;
    height: auto;
    margin-left: 5%;
}
.study-container {
    position: relative;
    /* top: 16vh; */
}

.study-header h1 {
    font-size: 2.5rem;
}


.material-container {
    margin-top: 20px;
    /* width: 100%; */
    height: 30vh;
    display: flex;
    overflow-x: auto;
    /* background-color: rgba(140, 67, 208, 0.895); */
}
.material-container::-webkit-scrollbar {
    display: none;
}
.material-container .materials {
    background-color: rgba(140, 67, 208, 0.895);
    /* overflow-x: auto; */
    border-radius: 12px;
    height: 80%;
    min-width: 20%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-right: 8px;
}

.materials h3 {
    color: white;
    font-size: 1.2em;
    margin: 1rem 1.5rem;
}

/* .study-materials {
    display: flex;
} */