*{
    box-sizing: border-box;
}
.subject-info-section {
    /* margin-top: 5px; */
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    /* overflow: auto; */
}
.info-container {
    position: relative;
    /* top: 16vh; */
}

.overview-list {
    /* display: flex; */
    /* align-items: center; */
    width: 30%;
    
}
.overview-list .list-item {
    padding: 0.7rem 0.5rem 0.7rem;
    background-color: #f2f1ec;
    margin-right: 3rem;
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
}
.subject-overview  {
    margin-bottom: 1.5rem;
}
.chapter {
    margin-top: 1rem;
}
.chapter-info {
    margin-bottom: 2rem;
}
.chapter h2 {
    font-size: 0.8em;
}
.chapter h3 {
    font-size: 0.7em;
}